<!DOCTYPE html>
<html>

<head>

  <link rel="shortcut icon" type="image/png" href="/favicon.ico" />

  <style>
    ul#files li {
      display: inline;
      margin-right: 15px;
      cursor: pointer;
    }

    #content {
      height: 800px;
      width: 80%;
      margin-top: 10px;
    }

    #file_form {
      margin-top: 20px;
    }

    #deleteName {
      margin-top: 20px;
    }

    #name {
      position: relative;
      left: -5000px;
    }
  </style>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/vue.min.js"></script>


</head>

<body>
  <div id="app">
    <button onclick="pull()">pull</button>
    <button onclick="listAllFiles()">show files</button><br>
    <button v-on:click="createFile">create file</button>
    <ul id="files">
      <li v-for="name in fileList" v-on:click="showFileT(name)">{{ name }}</li>
    </ul>
    <label>file name:</label>
    <span id="show-name">{{ showName }}</span>

    <form id="file_form" @submit.prevent="saveFile">

      <input id="name" name="name" type="text" v-model="fileName"><br>
      <textarea id="content" name="content" v-model="content"></textarea>
      <button class="button" type="submit" value="Submit">save</button>
    </form>

    <button v-on:click=" push()">push</button><br>
    <input type="text" id="deleteName" name="name">
    <button onclick="removeFile()">delete file</button>
  </div>


  <script src="/js/main.js"></script>

</body>

</html>
